.carousel2-container {
    max-width: 100%;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    overflow: hidden; /* Hide overflow to prevent scrollbars */
  }

  .carousel2 {
    display: flex;
    transition: transform 0.5s ease; 
  }

  .card2 {
  flex: 0 0 calc(100% / 4 - 20px); 
  margin-right: 20px; 
  border-radius: 0px;
  overflow: hidden; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out; 
}

  .card2:hover {
    transform: scale(1.01); /* Scale up on hover */
  }

  .card2-inner {
    position: relative;
    height: 100%;
  }

  .card2-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
  }

  .card2:hover .card2-back {
    transform: translateY(0); 
  }

  .card2-front,
  .card2-back {
    backface-visibility: hidden;
  }

  .card2-front {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f0f0f0; 
  }

  .card2 img {
    width: 100px; 
    margin-right: 10px; /* spacing between image and text */
  }

  .card2 h3,
  .card2 h4 {
    margin: 5px 0;
    text-align: center;
  }

  @media(max-width:600px){
    .services-section{
        display: none;
    }
  }